@use 'sass:color';
@use '../../app/styles/constants';

.rulesList {
  padding: 10px;

  li {
    padding-inline-start: 1ch;
  }

  li:not(:last-child) {
    margin-bottom: 5px;
  }

  li::marker {
    content: '•';
    color: rgb(252 205 71 / 90%);
  }
}

.rulesSection {
  font-size: 1.1rem;
}
