$bg-color: #090000;
$main-color: #fccd47;
$bg-main-color: #d98a05;
$secondary-color: #855b43;
$text-color: #fff;
$outline-color: #38bdf8;
$disabled-color: #087ea4;
$heading-color: #fccd47;
$error-color: #f55;