@use 'sass:color';
@use '../../app/styles/constants';

.navList {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.navLink {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease-in-out;
  user-select: none;

  &:hover {
    color: color.adjust(constants.$text-color, $lightness: -20%);
  }
}

.navLinkActive {
  border-bottom: 2px solid constants.$text-color;
  transition: 0.3s ease-in-out;
  transition-property: color, border-bottom;

  &:hover {
    border-bottom: 2px solid color.adjust(constants.$text-color, $lightness: -20%);
    color: color.adjust(constants.$text-color, $lightness: -20%);
  }
}
