@use '../../app/styles/constants';

.buttonsDiv {
  display: flex;
  flex-direction: column;
  gap: 1em 2em;
}

.addPlayer,
.chat,
.joinRoom {
  display: flex;
  gap: 1em;
}

.miscButtons {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
}

.section:not(:last-child) {
  margin-bottom: 20px;
}

.players {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
}

.player:not(:last-child) {
  margin-bottom: 20px;
}

.playerCards {
  display: flex;
  gap: 5px;
}

.uiButtons {
  display: flex;
  gap: 0.5em;
}

.playerActive {
  color: constants.$main-color;
}

.cardName {
  font-size: 36px;
}
