@use 'css-init/src/init' as *;
@use './styles/constants';
@use './styles/buttons';
@use './styles/table';
@use './styles/layouts';
@use 'sass:color';

* {
  box-sizing: border-box;
  color: inherit;
}

body {
  // min-height: 100vh;
  color: constants.$text-color;
  font-family: Signika, sans-serif;
  font-size: 16px;
}

button,
input {
  font-family: Signika, sans-serif;
  font-size: 16px;
}

img {
  max-inline-size: 100%;
  block-size: auto;
}

.game-page {
  min-height: 100vh;
  background-color: constants.$bg-color;
}

.container {
  max-width: 1200px;
  padding: 10px;
  margin: 0 auto;
}

h1 {
  font-size: 24px;
  font-weight: bold;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

input {
  border: 2px solid constants.$secondary-color;
  border-radius: 5px;
  padding: 8px 10px;
  padding-left: 15px;
  transition: border 0.3s ease-in-out;
  background: rgb(0 0 0 / 50%);

  &:focus {
    border: 2px solid constants.$main-color;
    outline: none;
  }
}

select {
  padding: 0 10px;
  border-radius: 5px;
  appearance: menulist;
  background-color: color.adjust(constants.$main-color, $lightness: -10%);
}

.heading {
  margin-bottom: 20px;
  color: constants.$heading-color;
  text-align: center;
  text-transform: uppercase;
}

.feather {
  width: 24px;
  height: 24px;
  stroke: currentcolor;
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
}

.text-center {
  text-align: center;
}
