.roomInterface {
  width: fit-content;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.playerName {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.playerNameInput {
  width: 100%;
}

.roomEntry {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: nowrap;
  gap: 1em;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.roomEntryDisabled span {
  opacity: 0.3;
}

.playersSpan {
  display: flex;
  gap: 5px;
}
