.roomInterface {
  width: fit-content;
  min-width: 480px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1em;
}

.playerName,
.oldUI {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.playerNameInput {
  width: 100%;
}

.roomEntry {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr 90px;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
  padding: 6px 10px;

  &:not(:last-child) {
    margin-bottom: 10px;
  }
}

.roomEntryDisabled span {
  opacity: 0.3;
}

.playersSpan {
  display: flex;
  gap: 5px;
}

.roomEntryJoin {
  background-color: #343a46;

  span {
    color: #fff;
    opacity: 0.7;
  }

  &:not(.roomEntryDisabled) {
    span {
      opacity: 1;
    }
  }
}
