@use 'sass:color';
@use '../../app/styles/constants';
@use '../../app/styles/mixins';

.registrationPage {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #333;
}

.contents {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;
}

.accountLink {
  color: color.adjust(constants.$text-color, $alpha: -0.4);
  border-bottom: 1px dashed transparent;
  transition: border 0.3s ease-in-out;

  &:hover {
    border-bottom: 1px dashed;
  }
}

.form {
  min-width: 300px;
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.formError {
  @include mixins.message(constants.$error-color);
}

.formSuccess {
  @include mixins.message(constants.$success-color);
}

.submitButton {
  margin-top: 1.5em;
}
