@use '../../app/styles/constants';

.formFooter {
  margin-top: 4rem;
  margin-bottom: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.oldUI,
.playerName {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.playerName {
  margin-bottom: 20px;
}

.oldUI {
  margin-top: 30px;
}

.avatars {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(50px, 1fr));
  gap: 1em;
}

.avatar {
  box-sizing: content-box;
  border: 2px solid transparent;
  transition: transform 0.25s ease-in-out;

  &:hover {
    transform: scale(1.05);
  }

  img {
    border-radius: 5px;
  }
}

.avatarChosen {
  border: 2px solid constants.$outline-color;
  border-radius: 5px;
}
